body {
  margin: 5%;
  background-color: rgba(236, 236, 234, 0.171);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.error,
.success {
  font-size: 0.8em;
  padding: 15px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10ox;
  max-width: 500px;
}

.error {
  background-color: rgb(233, 56, 56);
}

.success {
  background-color: rgb(13, 156, 13);
}
input {
  width: 70vw;
  max-width: 600px;
  min-width: 350px;
}

#username,
#password {
  margin-left: 2vw;
  margin-bottom: 1vh;
}

#logout {
  margin-left: 10px;
}

#newblogform {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr) 2fr;
  row-gap: 2px;
  justify-items: start;
  align-items: center;
  height: 250px;
}

#bloginfo {
  font-size: 1.1em;
  margin: 1vh 0vw 2vh;
  width: 70vw;
  max-width: 600px;
  min-width: 350px;
  background-color: rgb(202, 202, 202);
  padding: 1vh 1vw 3vh 3vw;
  box-shadow: rgba(169, 169, 169, 0.274) 5px 5px 5px 2px;
}

#moreinfo {
  contain: content;
  overflow-wrap: break-word;
}

.bloghead {
  display: inline-block;
  margin: 0px;
  width: 55vw;
  max-width: 500px;
  min-width: 270px;
}

#showmore {
  font-size: 1.3em;
  min-width: 20px;
  height: 20px;
  width: 1vw;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 1vh 1vw 1vh 1vw;
  color: rgb(85, 84, 84);
}

#togglecontainer {
  display: inline;
  margin: 2vh 0 3vh 0;
}

button {
  min-width: 60px;
}

.togglebutton1,
.togglebutton2 {
  margin-bottom: 2vh;
}

.lastline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}

.deletebutton {
  margin-right: 2vw;
  padding: 1% 2%;
  border-radius: 20px;
  background-color: rgb(146, 31, 31);
  color: white;
}

#like {
  min-width: 20px;
  width: 1vw;
  display: inline-block;
  padding: 2%;
  cursor: pointer;
}
